
/chrome/firedictionary.jar
/firedictionary.xpi
/src/content/firedictionary/iknow/iKnowMyListManager.html
download
download.addons.mozilla.org
/src/content/firedictionary/view/WordHistoryAndExcerpt.html
