<html>
<head>
<title>Word history and excerpts@FireDictionary</title>
<script type="application/x-javascript" src="chrome://firedictionary/content/classes/core/fd_file.js"/>
<script type="application/x-javascript" src="chrome://firedictionary/content/classes/core/fd_directory.js"/>
<script type="application/x-javascript" src="chrome://firedictionary/content/classes/core/fd_permanent.js"/>
<script type="application/x-javascript" src="history.js"/>
</head>
<body onload="initialize()">
  <table width='100%' border='0'>
    <tr>
      <td width='8%'>&nbsp;</td>
      <td colspan="4">&nbsp;
          <p>
            <font size='+1' face='Arial, Helvetica, sans-serif'>
              <strong>Word history and excerpts</strong>
            </font>
          </p><br>
      </td>
    </tr>

    <tr>
      <td width='8%'>&nbsp;</td>
      <td>
        <div id="history" style="max-width:600px; vertical-align:top;"></div>
      </td>
      <td width='5%'>&nbsp;</td>
      <td width='15%'  style="vertical-align:top;">
        <div id="word-list"></div>
      </td>
      <td width='7%'>&nbsp;</td>
    </tr>
  </table>
</body>
</html>
